.pages{
    margin: 20px;
    width: 55%;
    padding: 0px;
    float:left !important;
    display: inline;
}

.login{
    list-style: none;
}

div ul li:active{
    color: red; !important;  /*???todo*/
}

header nav.row1nav {
    height: 66px;
    line-height: 67px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #e1e3e4;
    display: block;
    border: 1px solid #d2d6d5
}

header nav .logo{
    float:left;
    margin-left: 20px;
    display: inline-block;
    height: 22px;
    background-size: 100% 100%;
    font-size: 30px;
}

header nav .navRight{
    float:right;
    display: block;
    margin: 7.5px -15px;
    margin-right: 20px;
}

header nav .navRight li{
    border-right: 1px solid #d2d6d5;
}


ul.pic-thumbs {
    margin: 0;
    list-style: none;
}

ul.pic-thumbs li {
    border: 1px solid black;
    display: inline-block;
    margin: 1em;
    background-color: white;
}

ul.pic-thumbs img {
    height: 200px;
    width: 200px;
}

ul.pic-thumbs img:hover {
    cursor: pointer;
}

div.pic-images img{
    float: left;
    border: 1px solid black;
    margin: 1em;
    background-color: white;
    width: 500px;
}

.login.page{
    background-color: #000000;
    width: 100%;
}
.page{
    height: 100%;
    position: absolute;
}
.login.page .form{
    height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
}

.login.page .title, .login.page .usernameInput {
    color: #fff;
    font-weight: 100;
}

.chatRoom{
    margin: 20px;
    float: left;
    width: 40%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: inline;
    /*height:300px;*/
}
.chatArea{
    height: 80%;
    background: #eeeeee;
    overflow: hidden;
}

.chatRoomMessages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.inputMessage {
   /* border: 10px solid #000;*/
    bottom: 0;
    height: 40px;
    left: 0;
    outline: none;
    padding-left: 10px;
    right: 0;
    width: 100%;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

#allNotices{
    color: #ff0000;
}

.btn{
    margin-bottom: 5px;
}

.myMsg{
    color: green;
    text-align: right;
}
.othersMsg{
    color:grey;
    text-align: left;
}
.noticeMsg{
    color: red;
    text-align: center;
}