<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>烧烤啦</title>
    <script type="text/javascript" src="util.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/calendar.css">

    <script src="index.js"></script>
    <script src="chatroom.js"></script>
    <script src="partials/foodList/foodList.js"></script>
    <script src="partials/calendar/calendar.js"></script>
    <script src="partials/bbqPics/bbqPics.js"></script>
    <script src="otherJs/services.js"></script>

</head>
<body ng-controller="NavCtrl" ng-app="barbecueApp">
<header>
    <nav class="row1nav">
        <div class="logo"><strong><a href="/calendar">烧烤啦 {{userName}}</a></strong></div>
        <ul class="nav navbar-nav navRight">
            <li ng-class="{active: isActive('/calendar')}"><a href="#/calendar">约个时间</a></li>
            <li ng-class="{active: isActive('/foodList')}"><a href="#/foodList">戳这里买菜</a></li>
            <li ng-class="{active: isActive('/bbqPics')}"><a href="#/bbqPics">照片哇</a></li>
        </ul>
    </nav>
</header>

<div>

    <div class="pages">
        <div ng-view ng-show="pageVisible"></div>
    </div>

    <div class="chatRoom" ng-controller="ChatroomCtrl">
        <div class="chatArea" >
            <ul class="chatRoomMessages">
                <!--<li id="allNotices" ng-repeat="notice in notices">{{notice.context}}</li>-->
                <li id="allMessages" ng-repeat="message in messages" ng-class="message.style"><b>{{message.username}}</b> : {{message.context}}</li>
            </ul>
        </div>
        <input class="inputMessage" ng-model="inputMessage" ng-keypress="sendMessage($event)">
    </div>

    <li class="login page" ng-show="!pageVisible">
        <div class="form">
            <h3 class="title">尊姓大名</h3>
            <input class="usernameInput" type="text" maxlength="14" ng-model="userName"
                   ng-keypress="showWebsite($event)"/>
        </div>
    </li>

</div>


</body>
</html>