<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            搜索: <input ng-model="usrInput">
            <select ng-model="usrSel">
            <option value="name">字母</option>
            <option value="date">最新</option>
        </select>
        </div>
        <div class="col-md-3">
            <ul class="">
                <li ng-repeat="bbqPic in bbqPics| filter:usrInput| orderBy:usrSel" class="thumbnail">
                    <a href="#/bbqPics/{{bbqPic.id}}" class="thumb">
                        <img ng-src="{{bbqPic.imageUrl}}">
                    </a>
                    <a href="#/bbqPics/{{bbqPic.id}}">{{bbqPic.name}}</a>
                    <p>{{bbqPic.description}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>